[Unit]
Description=OLED Phoniebox Display Service
DefaultDependencies=false

[Service]
Type=simple
WorkingDirectory=<PATH>/
ExecStart=/usr/bin/python3 <PATH>/./oled_phoniebox.py
RestartSec=2
[Install]
WantedBy=multi-user.target

